body {
    font-family: 'Arial', sans-serif;
    background-color: #001E29; 
    color: #ffffff; 
}

header {
    padding: 20px;
    border-radius: 5px; 
    border: 2px solid #F9BC3F; /* Yellow border color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; 
    align-items: center;
    gap: 20px; /* Space between photo and information */
}

.breadcrumb-container {
    margin: 0; /* Removes margin */
    padding: 0; /* Removes padding */
}

.breadcrumb {
    background-color: transparent; /* Makes breadcrumb background transparent */
    padding: 0; /* Removes padding */
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "›"; /* Separator between breadcrumb items */
    color: #F9BC3F; /* Separator color */
}

.breadcrumb-home {
    color: #ffffff; /* White color for "Home" link */
}

.breadcrumb-home:hover {
    color: #F9BC3F; /* Yellow color on hover, can be changed as needed */
}

.content-container {
    padding: 20px; 
    border-radius: 5px;
    border: 4px solid #F9BC3F; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    max-width: 960px; /* Limits the width for the content */
}

/* Centering photo in the circle */
.profile-circle {
    width: 150px; /* Base size for small screens */
    height: 150px; /* Base size for small screens */
    border-radius: 50%;
    border: 4px solid #F9BC3F;
    background-color: #fff;
    display: flex; /* Flexbox for centering */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px; /* Space below the photo */
}

.profile-circle img {
    width: 100%;  
    height: 100%; /* Fills the circle */
    object-fit: cover;  
    object-position: center top;  /* Adjusts image position */
}

h1 {
    color: #ffffff;
    font-size: 2rem;
}

.section-title {
    color: #F9BC3F;
    font-size: 1.5rem;
    border-bottom: 2px solid #F9BC3F;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: #001E29;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul ul {
    list-style-type: circle;
}

/* Media Queries for mobile devices */
@media (max-width: 768px) {
    .profile-circle {
        width: 100px; /* Reduced size for smaller screens */
        height: 100px; /* Reduced size for smaller screens */
    }

    header {
        flex-direction: column; /* Column layout for smaller screens */
        align-items: flex-start;
    }

    .ml-md-5 {
        margin-left: 0; /* Removes left margin on small screens */
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem; /* Reduces font size for very small screens */
    }

    .section-title {
        font-size: 1.25rem; /* Reduces font size for section titles */
    }
}
